<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Администратор</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <td th:text="${user.getUsername()}"></td>
        , роли:
        <td th:text="${user.getRoles()}"></td>
    </a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выход</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 navbar-container bg-light" style="height: 100vh; padding-right: 0; padding-left: 0;">
            <nav class="navbar navbar-expand-md navbar-light"
                 style="background-color: white; width: 100%; align-items: flex-start; height: 100%; padding: 15px 0">
                <div class="nav flex-column nav-pills col-lg-12" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">


                    <a class="nav-link active col-lg-12" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                       role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Admin</a>

                    <a class="nav-link col-lg-12" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                       role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </nav>
        </div>
        <!--тут кончается навбар-->


        <!--            То, что включают кнопки ниже-->
        <div class="tab-content col-lg-8 " id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <!--                    карточка прри нажатии на кнопку юзер-->
                <div class="col-lg-12 ml-sm-n1  px-4">
                    <h1></h1>
                    <h2 class="h2">Список пользователей</h2>
                    <h1></h1>


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Таблица пользователей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Новый пользователь</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            <div class="card">
                                <div class="card-header">
                                    Данные пользователей
                                </div>
                                <div class="card-body">


                                    <div class="table-striped">

                                        <table class="table table-striped table-sm">
                                            <tr>
                                                <th>Логин</th>

                                                <th>Имя</th>
                                                <th>Фамилия</th>
                                                <th>Страна</th>
                                                <th>Возраст</th>
                                                <th>Роли</th>
                                                <th>Активность</th>
                                                <th>Изменить</th>
                                                <th>Удалить</th>

                                            </tr>
                                            <th:block th:each="user:${users}">
                                                <tr>
                                                    <td th:text="${user.getUsername()}"></td>

                                                    <td th:text="${user.getName()}"></td>
                                                    <td th:text="${user.getLastName()}"></td>
                                                    <td th:text="${user.getCountry()}"></td>
                                                    <td th:text="${user.getAge()}"></td>
                                                    <td th:text="${user.getRoles()}"></td>
                                                    <td th:text="${user.getEnabled()}"></td>
                                                    <td>
                                                        <input type="submit" class="btn btn-info" data-toggle="modal"
                                                               th:data-target="${'#editModal' + user.id}" data-target="#editModal"  data-user-id="${user.id}"
                                                               th:value="Изменить">

                                                        <!--модалка изменение-->
                                                        <div class="modal fade" th:id="${'editModal' + user.id}" tabindex="-1"
                                                             aria-hidden="true" aria-labelledby="editModalLabel">

                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModalLabel" >Изменение данных пользователя</h5>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:method="PATCH" th:object="${user}" th:action="@{/admin/updating}"
                                                                              class="form-horizontal" role="form" style="text-align: center;
                                                          display: flex; align-items: center; width: 100%; flex-direction: column ">

                                                                            <label type="hidden" for="inputid">Уникальный номер: </label>
                                                                            <input type="hidden" id = "inputid" name="Id" th:value="${user.id}" readonly>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="form-label fw-bold"
                                                                                       for="usernameInput" >Логин</label>
                                                                                <input type="text" th:name="username"  th:value="${user.username}"
                                                                                       class="form-control" id="usernameInput"/>
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12 control-label" for="passwordInput" >Пароль</label>
                                                                                <input type="password" th:name="password" th:value="${user.password}"
                                                                                       class="form-control" id="passwordInput" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12 control-label" for="nameInput" >Имя</label>
                                                                                <input type="text" th:name="name" th:value="${user.name}"
                                                                                       class="form-control" id="nameInput" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12 control-label" for="lastNameInput" >Фамилия</label>
                                                                                <input type="text" th:name="lastName" th:value="${user.lastName}"
                                                                                       class="form-control" id="lastNameInput" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12  control-label" for="countryInput" >Страна</label>
                                                                                <input type="text" th:name="country"  th:value="${user.country}"
                                                                                       class="form-control" id="countryInput" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12  control-label" for="ageInput" >Возраст</label>
                                                                                <input type="number" th:name="age"  th:value="${user.age}"
                                                                                       class="form-control" id="ageInput" />
                                                                            </div>

                                                                            <input type="hidden" name="enabled" placeholder="enabled"
                                                                                   th:field="*{enabled}" th:value="${user.setEnabled(true)}">

                                                                            <label style="font-weight: bold" class="control-label
                                                        form-group; col-sm-12" for="roleInputForUpdated">Роли</label>
                                                                            <select multiple style="padding: 6px; max-width: 46%" name="roles" class="form-select;  col-sm-6" size="2" >
                                                                                <option th:each="role:${allRoles}" th:value="${role.id}"
                                                                                        th:text="${role.roleNaming}" id="roleInputForUpdated"/>
                                                                            </select>
                                                                            <div class="modal-footer">
                                                                                <button class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                                                <button  class="btn btn-info" >Применить</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <input type="submit" class="btn btn-danger" data-toggle="modal"
                                                               th:data-target="${'#deleteModal' + user.id}" data-target="#deleteModal"  data-user-id="${user.id}"
                                                               th:value="Удалить">

                                                        <!--модалка удаление-->

                                                        <div class="modal fade" th:id="${'deleteModal' + user.id}" tabindex="-1"
                                                             aria-hidden="true" aria-labelledby="deleteModalLabel">

                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteModalLabel" >Удалить пользователя?</h5>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:method="DELETE"  th:action="@{/admin/delete}"  th:object="${user}"
                                                                              class="form-horizontal" role="form" style="text-align: center;
                                                          display: flex; align-items: center; width: 100%; flex-direction: column ">

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="form-label fw-bold"
                                                                                       for="usernameDelete" >Логин</label>
                                                                                <input disabled type="text" th:name="username"  th:value="${user.username}"
                                                                                       class="form-control" id="usernameDelete"/>
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12 control-label" for="passwordDelete" >Пароль</label>
                                                                                <input disabled type="password" th:name="password" th:value="${user.password}"
                                                                                       class="form-control" id="passwordDelete" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12 control-label" for="nameDelete" >Имя</label>
                                                                                <input disabled type="text" th:name="name" th:value="${user.name}"
                                                                                       class="form-control" id="nameDelete" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12 control-label" for="lastNameDelete" >Фамилия</label>
                                                                                <input disabled type="text" th:name="lastName" th:value="${user.lastName}"
                                                                                       class="form-control" id="lastNameDelete" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12  control-label" for="countryDelete" >Страна</label>
                                                                                <input disabled type="text" th:name="country"  th:value="${user.country}"
                                                                                       class="form-control" id="countryDelete" />
                                                                            </div>

                                                                            <div style="font-weight: bold" class="form-group">
                                                                                <label class="col-sm-12  control-label" for="ageDelete" >Возраст</label>
                                                                                <input disabled type="number" th:name="age"  th:value="${user.age}"
                                                                                       class="form-control" id="ageDelete" />
                                                                            </div>

                                                                            <label style="font-weight: bold" class="control-label
                                                        form-group; col-sm-12" for="roleInputForDelete">Роли</label>
                                                                            <select disabled style="padding: 6px; max-width: 46%" name="roles" class="form-select;  col-sm-6" size="2" >
                                                                                <option th:each="role:${allRoles}" th:value="${role.id}"
                                                                                        th:text="${role.roleNaming}" id="roleInputForDelete"/>
                                                                            </select>
                                                                            <div class="modal-footer">
                                                                                <button class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                                                <button name="Id" class="btn btn-danger"
                                                                                        th:value="${user.getId()}">Удалить
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </th:block>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                            <div class="card">
                                <div class="card-header">
                                    Добавить нового пользователя
                                </div>
                                <div class="row">

                                    <div class="col-4"></div>
                                    <div style="text-align: center;" class="col-3">


                                        <form th:method="POST" th:action="@{/admin/save}" th:object="${newuser}">


                                            <br><h6><strong>Логин</strong></h6>



                                            <input id="username" placeholder="username" type="text" th:field="*{username}" required><br>
                                            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                                Неверное имя пользователя
                                            </div>
                                            <br><h6><strong>Пароль</strong></h6>

                                            <input id="password" placeholder="password" type="password"
                                                   th:field="*{password}"><br>
                                            <br><h6><strong>Имя</strong></h6>
                                            <input id="name" placeholder="name" type="text" th:field="*{name}"><br>

                                            <br><h6><strong>Фамилия</strong></h6>
                                            <input id="lastname" placeholder="lastname" type="text"
                                                   th:field="*{lastName}" required><br>
                                            <br><h6><strong>Страна</strong></h6>
                                            <input id="country" placeholder="country" type="text"
                                                   th:field="*{country}" required><br>
                                            <br><h6><strong>Возраст</strong></h6>
                                            <input id="age" name="age" placeholder="age" type="number"
                                                   th:field="*{age}" required><br>

                                            <input type="hidden" id="enabled" name="enabled" placeholder="enabled"
                                                   th:field="*{enabled}" th:value="${newuser.setEnabled(true)}"><br>


                                            <label style="font-weight: bold" class="control-label
                                             form-group; col-sm-12" for="roleSelect">Роли</label>
                                            <select multiple name="roles" class="form-select; col-sm-6" size="2">
                                                <option style="padding: 6px; max-width: 100%" th:each="role:${allRoles}" th:value="${role.id}"
                                                        th:text="${role.roleNaming}" id="roleSelect" readonly/>
                                            </select><br>

                                            <input type="submit" class="btn btn-success" value="Добавить"/><br>
                                        </form>

                                    </div>
                                    <div class="col-5"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--            при нажатии админ-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                <!--                    карточка прри нажатии на кнопку юзер-->
                <div class="col-lg-auto ml-sm-auto  px-4">
                    <h1></h1>
                    <h2 class="h2">Информация о пользователе</h2>
                    <h1></h1>


                    <div class="card">
                        <div class="card-header">
                            Данные пользователя
                        </div>
                        <div class="card-body">

                            <div class="table-striped">

                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Логин</th>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Страна</th>
                                        <th>Возраст</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="user:${user}">
                                        <tr>
                                            <td th:text="${user.getUsername()}"></td>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getCountry()}"></td>
                                            <td th:text="${user.getAge()}"></td>


                                        </tr>
                                    </th:block>

                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

