<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Администратор</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" id="navbar-user-info">
        <!--скрипт-->
    </a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выход</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 navbar-container bg-light" style="height: 100vh; padding-right: 0; padding-left: 0;">
            <nav class="navbar navbar-expand-md navbar-light"
                 style="background-color: white; width: 100%; align-items: flex-start; height: 100%; padding: 15px 0">
                <div class="nav flex-column nav-pills col-lg-12" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">


                    <a class="nav-link active col-lg-12" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                       role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Admin</a>

                    <a class="nav-link col-lg-12" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                       role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </nav>
        </div>
        <!--тут кончается навбар-->


        <!--            То, что включают кнопки ниже-->
        <div class="tab-content col-lg-8 " id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <!--                    карточка прри нажатии на кнопку юзер-->
                <div class="col-lg-12 ml-sm-n1  px-4">
                    <h1></h1>
                    <h2 class="h2">Список пользователей</h2>
                    <h1></h1>


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Таблица пользователей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Новый пользователь</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            <div class="card">
                                <div class="card-header">
                                    Данные пользователей
                                </div>
                                <div class="card-body">


                                    <div class="table-striped">

                                        <table class="table table-striped table-sm">
                                            <tr>
                                                <th>Логин</th>

                                                <th>Имя</th>
                                                <th>Фамилия</th>
                                                <th>Страна</th>
                                                <th>Возраст</th>
                                                <th>Роли</th>
                                                <th>Активность</th>
                                                <th>Изменить</th>
                                                <th>Удалить</th>

                                            </tr>
                                            <tbody id="main-users-table">
                                            <!--Пожалуйста, тут должен быть скрипт-->
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                            <div class="card">
                                <div class="card-header">
                                    Добавить нового пользователя
                                </div>
                                <div class="row" id="adding-user-field">

                                    <div class="col-4"></div>
                                    <div style="text-align: center;" class="col-3">

                                        <form class="form-horizontal" role="form"  id="add-new-user-form">



                                            <div style="font-weight: bold" class="form-group">
                                                <label class="col-sm-12  control-label">Логин</label>
                                                <div class="col-sm-12 ">
                                                    <input type="text" class="form-control" id="usernameSave" name="username"/>
                                                </div>
                                            </div>

                                            <div style="font-weight: bold" class="form-group">
                                                <label class="col-sm-12 control-label">Пароль</label>
                                                <div class="col-sm-12">
                                                    <input type="password" class="form-control" id="passwordSave"
                                                           name="password"/>
                                                </div>
                                            </div>

                                            <div style="font-weight: bold" class="form-group">
                                                <label class="col-sm-12  control-label">Имя</label>
                                                <div class="col-sm-12">
                                                    <input type="text" id="nameSave" name="name" class="form-control"/>
                                                </div>
                                            </div>

                                            <div style="font-weight: bold" class="form-group">
                                                <label class="col-sm-12  control-label">Фамилия</label>
                                                <div class="col-sm-12">
                                                    <input type="text" id="lastnameSave" name="lastname" class="form-control"/>
                                                </div>
                                            </div>

                                            <div style="font-weight: bold" class="form-group">
                                                <label class="col-sm-12  control-label">Страна</label>
                                                <div class="col-sm-12">
                                                    <input type="text" id="countrySave" name="country" class="form-control"/>
                                                </div>
                                            </div>

                                            <div style="font-weight: bold" class="form-group">
                                                <label class="col-sm-12  control-label">Возраст</label>
                                                <div class="col-sm-12">
                                                    <input type="number" id="ageSave" name="age" class="form-control"/>
                                                </div>
                                            </div>


                                            <label style="font-weight: bold" class="control-label">Роли</label>
                                            <div style="font-weight: bold" class="form-group">
                                                <select class="form-control;  col-sm-12" size="2" multiple aria-label="Роли"
                                                        id="add-new-roleSelect" name="roles">
                                                    <!--oknooptoin-->
                                                </select>
                                            </div>


                                                <input class="btn btn-success" type="submit" id="saveButton"
                                                       data-user-save="saveUser" value="Добавить"/>

                                        </form>

                                    </div>
                                    <div class="col-5"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--            при нажатии админ-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                <!--                    карточка прри нажатии на кнопку юзер-->
                <div class="col-lg-auto ml-sm-auto  px-4">
                    <h1></h1>
                    <h2 class="h2">Информация о пользователе</h2>
                    <h1></h1>


                    <div class="card">
                        <div class="card-header">
                            Данные пользователя
                        </div>
                        <div class="card-body">

                            <div class="table-striped">

                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Логин</th>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Страна</th>
                                        <th>Возраст</th>
                                    </tr>
                                    </thead>
                                    <tbody id="ineligible-user">
                                    <!--скрипт-->
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!--модалка изменение-->
<div class="modal fade" id="editModal" tabindex="-1"
     aria-hidden="true" aria-labelledby="editModalLabel">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel" >Изменение данных пользователя</h5>
            </div>
            <div class="modal-body">
                <form  id="edit-form-modal"
                      class="form-horizontal" role="form" style="text-align: center;
                                                          display: flex; align-items: center; width: 100%; flex-direction: column ">


                    <input type="hidden"  name="id"  readonly>
                    <input type="hidden" name="enabled" placeholder="enabled">

                    <div style="font-weight: bold" class="form-group">
                        <label class="form-label fw-bold"
                               for="usernameInput" >Логин</label>
                        <input type="text" name="username"
                               class="form-control" id="usernameInput"/>
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12 control-label" for="passwordInput" >Пароль</label>
                        <input type="password" name="password"
                               class="form-control" id="passwordInput" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12 control-label" for="nameInput" >Имя</label>
                        <input type="text" name="name"
                               class="form-control" id="nameInput" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12 control-label" for="lastNameInput" >Фамилия</label>
                        <input type="text" name="lastName"
                               class="form-control" id="lastNameInput" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12  control-label" for="countryInput" >Страна</label>
                        <input type="text" name="country"
                               class="form-control" id="countryInput" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12  control-label" for="ageInput" >Возраст</label>
                        <input type="number" name="age"
                               class="form-control" id="ageInput" />
                    </div>



                    <label style="font-weight: bold" class="control-label
                                                        form-group; col-sm-12" for="roleInputForUpdated">Роли</label>
                    <select id="roleInputForUpdated" multiple style="padding: 6px; max-width: 46%" name="roles" class="form-select  col-sm-6" size="2" >

                    </select>
                    <div class="modal-footer">
                        <button id="close-edit-modal" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button  class="btn btn-info" >Применить</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1"
     aria-hidden="true" aria-labelledby="deleteModalLabel">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" >Удалить пользователя?</h5>
            </div>
            <div class="modal-body">
                <form id="delete-form-modal"
                      class="form-horizontal" role="form" style="text-align: center;
                                                          display: flex; align-items: center; width: 100%; flex-direction: column ">
                    <input type="hidden"  name="id" />

                    <div style="font-weight: bold" class="form-group">
                        <label class="form-label fw-bold"
                               for="usernameDelete" >Логин</label>
                        <input disabled type="text" name="username" class="form-control" id="usernameDelete"/>
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12 control-label" for="passwordDelete" >Пароль</label>
                        <input disabled type="password" name="password"
                               class="form-control" id="passwordDelete" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12 control-label" for="nameDelete" >Имя</label>
                        <input disabled type="text" name="name"
                               class="form-control" id="nameDelete" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12 control-label" for="lastNameDelete" >Фамилия</label>
                        <input disabled type="text" name="lastName"
                               class="form-control" id="lastNameDelete" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12  control-label" for="countryDelete" >Страна</label>
                        <input disabled type="text" name="country"
                               class="form-control" id="countryDelete" />
                    </div>

                    <div style="font-weight: bold" class="form-group">
                        <label class="col-sm-12  control-label" for="ageDelete" >Возраст</label>
                        <input disabled type="number" name="age"
                               class="form-control" id="ageDelete" />
                    </div>

                    <label style="font-weight: bold" class="control-label
                                                        form-group; col-sm-12" for="roleInputForDelete">Роли</label>
                    <select disabled style="padding: 6px; max-width: 46%" id="roleInputForDelete" name="roles"
                            class="form-select;  col-sm-6" size="2" >


                    </select>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="cancel-to-delete-modal" data-dismiss="modal">Отмена</button>
                        <button name="Id" class="btn btn-danger" id="delete-modal-button">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script defer src="/allUsers.js"></script>
<script defer src="/principalUser.js"></script>
<script defer src="/addUser.js"></script>
<script defer src="/deleteUser.js"></script>
<script defer src="/editUser.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

