<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор пользователя</title>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выйти из аккаунта"/>
    </form>
</head>
<body>
<h1>Изменение данных пользователя</h1>
<h4>Заполните новые данные</h4>
<form th:method="PATCH" th:action="@{updating}" th:object="${user}">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />


    <label for="id">Уникальный номер: </label>
    <input id = "id" name="Id" th:value="${user.getId()}" readonly>
    <br>
    <label for="username">Новый логин</label>
    <input id = "username" th:field="*{username}" name="username" placeholder="username" type="text" required>
    <br>
    <label for="password">Новый пароль</label>
    <input id = "password" th:field="*{password}" name="password" placeholder="password" type="password" required>
    <br>
        <label for="name">Новое имя</label>
    <input id = "name" th:field="*{name}" name="name" placeholder="name" type="text" required>
    <br>
    <label for="lastname">Новая фамилия</label>
    <input id = "lastname" th:field="*{lastName}" name="lastname" placeholder="lastname" type="text" required>
    <br>
    <label for="country">Новая страна</label>
    <input id = "country" th:field="*{country}" name="country" placeholder="country" type="text" required>
    <br>
    <label for="age">Новый возраст</label>
    <input id = "age" th:field="*{age}" name="age" placeholder="age" type="number" required>
    <br>
    <label for="enabled">Enabled</label>
    <input id="enabled" name="age" placeholder="enabled"  type="checkbox" th:field="*{enabled}"  th:value="${user.enabled}"><br>
    <br>
    <p>
        <label>Роли:
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.roleNaming}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Обновить"/>

</form>
</body>
</html>